header {
	display: block;
	width: 100%;
	vertical-align: middle;
	margin: none;
	padding: none;
	height: 50px;
	overflow: hidden;
}
header h1 {
	float: left;
	vertical-align: middle;
	margin: 5px;
	font-weight: 600;
}
nav {
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin: 10px;
}
nav a {
	display: inline-block;
	vertical-align: middle;
} 
header::after {
	content: "";
	display: table;
	clear: both;
}
main {
}
main section {
	float: left;
	width: 30%;
	margin-left: 2%;
}
main::before {
	display: block;
	float: left;
	content: "\00a0";
	width: 1%;
}
main::after {
	content: "";
	display: table;
	clear: both;
}
iframe {
	width: 100%;
	height: calc(100% - 250px);
	border:none;
}
textarea {
	width: 100%;
	height: calc(100% - 250px);
	border:none;
	resize: none;
}
footer {
	text-align: right;
}
