@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
body {
	font-family: "Dongle", "Verdana", "Tahoma", "Trebuchet MS", "Trebuchet", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 0.5;
	font-size: 200%;
}
input {
	font-family: "Dongle", "Verdana", "Tahoma", "Trebuchet MS", "Trebuchet", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 0.5;
}
input[type=number] {
	border: none;
}
input[type=button] {
	border: none;
	background: none;
}
input[type=button]:hover {
	color: #777777;
}
input.rangeerror {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: red;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #777777;
}